body {
  font-family: 'Josefin Sans';
  background-color: #fffafb;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Hero Banner Image */
.hero-banner-img {
  position: absolute;
  right: 60px;
  top: 0px;
  width: 450px;
  height: 650px;
  margin-top: -310px;
}


/* Smaller Screen */
@media screen and (max-width:1200px) {
  .hero-banner-img {
    display: none;
  }
}